/*
  Flexible Box
  For Parent
  - display: flex => To Start Flexible Box
  - flex-direction: row => Default Value
  - flex-wrap: nowrap => Default Value
  - flex-flow: [Flex-Direction] + [Flex-Wrap]
  ---
  - justify-content: flex-start => Default Value
  - align-items(vertically): stretch => Default Value
  - align-content: stretch => Default Value , it distribute the contents to the site vertically (with stretches)
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    /*flex-direction: column;*/
    /*benefits : if the flex-direction is row and we are going to change the direction into arabic the flex-direction automatic will start from right to left*/
    /*the flex-direction manipulate the float problem if we will change the direction in the float we need to return back ro the code and change the float from left to right*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column-reverse;*/
    flex-wrap: nowrap;/*default to make the row dynamically change div widths to make all of them fit in the row without wrapping to the next line */
    flex-wrap: wrap;/*it does'nt allow to change the element widths so the extra element will be wrap to the next line*/
    flex-wrap: wrap-reverse;/*make the last element in the first line and the rest in the second*/


    flex-flow:row wrap ;/*flex-direction  flex-wrap*/


    justify-content: flex-start; /*default*/
    justify-content: flex-end;/*the wrap element will show at the end of line (the end of the last wrap element will start at the end of line)*/
    /*try to add more elements to the flex container*/
    justify-content: center;


    justify-content: space-between;/*edit the width to realize the benefit*/
    justify-content: space-around;
    justify-content: space-evenly;/*space-between  +  space-around*/


    /*same as justify-content but vertically*/
    align-items: stretch;
    align-items: flex-end;
    align-items: flex-start;
    align-items: center;


    align-content: stretch;
    align-content: flex-start;/*all the contents will be at the top of parent regardless the parent height*/
    align-content: flex-end;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;

}


.flex div {
    background-color: #f00;
    color: white;
    width: 25%;
    text-align: center;
    padding: 20px;
}
.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}
.float div {
    background-color: #f00;
    color: white;
    float: right;
    width: 25%;
    text-align: center;
    padding: 20px;
}
.flex .one{
    height: 50px;/*if you don't select a specific height the element will stretch vertically to fit the it's parent height*/
}