/*
* Box Model
* Box Sizing
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;/*default  calculate border and padding and margin from the width*/
    box-sizing: border-box; /*dont calculate border and padding and margin from the width*/
}
.parent {
    width: 600px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: #ddd;
}
.one {
    background-color: #eee;
    width: 300px;
    float: left;
    padding: 100px;
    border: 1px solid red;
}