.border_lec{

    /*top right bottom left */
    border-width: 2px;
    /* without it the border can't be visible */
    border-style: solid;

    border-color: red green blue yellow;


    border:10px solid blue ;
}