/*
  CSS Selectors
  - :first-child
  - :last-child
  - :first-of-type
  - :last-of-type
  - :only-child => only child for his parent (has no brothers)
  - :only-of-type => only the child type(maybe has a brothers from other types)
*/

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}