/*
*CSS Units
*  px => as we know the default text size is 16px
*  em =>Time 1em = 1Time , 2em = 2times .so if the default size is 16 px the 2em makes the font size = 32px
*  1em = 16px this is a wrong theory 1em is not constants it depends on the initial font size we add
*  rem =>Root Time same as em but it takes the size from the root element
*  the root of the page is the HTML not the body
*  vw =>Veiwport Width its very important if you want your page responsive site 1vw = 1% from the page width (if we increase the page
*  width the text will be increasing dynamically)
*  percentage => percentage from the initial size if we have element with 16px size the 150% size is 16 * 1.5 px
*
*
*
* vmin => 	Relative to 1% of viewport's smaller dimension
* vmax =>   Relative to 1% of viewport's larger dimension
* vh => 	Relative to 1% of the height of the viewport
*/

#FontSize{
    font-size: 20px;
}
#FontSize #FontSizeEM{
    font-size: 2em; /*the size is 40px*/
    /*!*font-size: 40px;*! to check if 2em = 40 or 32 px*/
}
body{
    font-size: 20px;
}
html{
    font-size: 40px;
}
#checkRootBodyOrHtml{
    font-size: 2rem; /*the expecting answer is 40*2 = 80px*/
}
