body{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
p{
    background-color: #EEEEEE;
    width: 400px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    border-left: 6px solid #7e1281;
}
p:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: transparent  #7e1281 transparent transparent;
    right: 406px;
}
p:after{
    width: 70px;
    content: attr(data-person);
    height: 30px;
    position: absolute;
    right: 423px;
    background-color: #EEEEEE;
    text-align: center;
    padding-top: 10px;
    bottom: 0px;
}