/*
* Calc
*/
body{
    margin: 0;
}
.calculaton{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #EEE;
    float: left;
    width: calc((100% - 75px)/4);
    margin-left: 15px;

}

/*
* we need to put a space between the divs
*content width : 100%
*we need 5 spaces 15 * 5 spaces => 75px from content width
*95% remain
*4 elements the width is (100% - 75px)/4
*
*
*
*
*
*
*
*/