table {
    width: 100%;
    border: 1px solid #CCC;
    border-spacing: 0;
}
tbody{
    border: inherit;
}
tr{
    border: inherit;
}
table td{
    padding: 15px;
    background-color: #a0a0a0;
    border: inherit;
}
table thead td{
    background-color: #f44336;
    color: white;
    text-align: center;
    font-weight: 700;
}