*{
    font-family: sans-serif;
}


tr th{
   color: white;
   background-color: #333333;
   padding: 10px 40px;
}



tr td{
    width: 120px;
    height: 100px;
    background-color: #d3d3d3;
    text-align: center;
}
tr td img{
     /*padding: 0;*/
     width: 80%;
    height: 80%;

}
table tr .center{
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

tr .name{
    width: 200px;
}

table tr td a{
    color: white;
    height: 20%;
    text-decoration: none;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
table tr td a:nth-child(1){
    background-color: #41abfc;
    width: 40px;

}
table tr td a:nth-child(2){
    background-color: #ff3939;
    width: 60px;

}
